// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Pangolin|Roboto');

img.recipe-show {
	width: 400px;
	height: auto; //automatically keeps porportion
}

.recipe-box {
	border: 1px solid black;
	height: 600px;
	position: relative;
	box-shadow: 10px 10px 5px #888888;
	background: #bdc3c7;
}

.recipe-index {
	width: 100%;
	height: 70%;
	object-fit: cover;
}

.recipe-box ul {
	list-style-type: none;
	position: absolute;
	bottom: 0;
}

.recipe-box ul li:first-child {
	font-size: 24px;
} 